ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.wraper {
  display: flex;
  justify-content: space-between;
}

/** Kanban **/
.kanban {
  flex: 1;
}

.kanban__control {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;
}

.kanban__table {
  width: 100%;
}

.left__btn,
.right__btn {
  color: #fff;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}

.right__btn {
  margin-right: 3px;
}

.user-name {
  color: #fff;
  background-color: green;
  padding: 40px 20px;
}

.table-date {
  padding: 5px 20px;
  color: #fff;
  background-color: yellowgreen;
  text-align: center;
  min-width: 90px;
  /*max-width: 178px;*/
}

/* Backlog */
.backlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bbbbbb;
  min-width: 250px;
}

.backlog__title {
  font-size: 35px;
}

.backlog__control {
  display: flex;
}

.backlog__input {
  height: 28px;
  border: none;
  border-right: 1px solid #dcdcdc;
}

.backlog__search-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: white;
}

.search-btn__img {
  width: 100%;
  height: auto;
}

.task__list {
  width: 100%;
}

.task__text {
  position: relative;
  background-color: #dcdcdc;
  margin: 5px;
  padding: 10px;
  color: #00008b;
  text-align: center;
}

.hint {
  display: none;
  margin-left: -350px;
  padding: 10px;
  margin-top: 17px;
  background: #f3f3f3;
  font-weight: bold;
  color: brown;
}

.task__text:hover .hint {
  display: block;
  position: absolute;
  top: 10px;
  left: 320px;
  z-index: 9999;
  width: 190px;
  height: auto;
}

.user__task {
  position: relative;
  background-color: #dcdcdc;
  margin: 5px;
  padding: 10px;
  color: #00008b;
  text-align: center;
}

.user__task:hover .hint {
  display: block;
  position: absolute;
  top: 10px;
  left: 335px;
  z-index: 9999;
  width: 105px;
  height: auto;
}

.hide {
  display: none;
}

.hovered {
  background-color: #d1d8e2;
}
